<!-- <p>app-grocery works!</p>
<div>
  <h2>Grocery List Manager</h2>
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="enter grocery items" id="txtSearch" [(ngModel)]="task" />
        <div class="input-group-btn">
          <button class="btn-btn-primary" type="button" (click)="onClick()">
            <i class="fas fa-plus-square"></i>Add

             <span class="glyphicon glyphicon-ok"></span>
            </button>
        </div>

      </div>

    </div>

  </div>
  <br/>-->
  <!--
  <span>
    {{tasks | json}}
</span> -->
  <!-- <ul class="list-group">
    <li *ngFor="let tast of tasks" class="list-group-item">
      <span>{{task.name}}</span>
    </li>
  </ul>
</div> -->



<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">BRAND</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Sign Up</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Add Your Grocery Items</h1>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="enter grocery item" id="txtSearch" aria-label="Username" aria-describedby="button-addon1" [(ngModel)]="item.name">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="cart-icon" (click)="addItemToList()" >
             <!-- <img src="../../assets/shopping-bag (1).svg" /> -->
             <i class="fas fa-cart-plus"></i>

          </button>
        </div>

      </div>
    </div>
  </div>
  <div>
    <span *ngIf="list">
      Number of items in your list: {{list.length}}
    </span>
    <ul id="show-list" class="list-group">
      <li *ngFor="let item of list" class="list-group-item">
        <span>{{item.name}}</span>
        <span>
          <button type="button" id="deleteitembutton" (click) = "deleteItemFromList(item)">
            <i class="far fa-trash-alt"></i>
          </button>
        </span>
      </li>
    </ul>
  </div>

  <div>
    <span [hidden]="hideErrorMsg" class="text-danger">{{errorMsg}}</span>
    <span [hidden]="hideduplicateMsg" class="text-secondary">{{duplicateMsg}}</span>
    <span [hidden]="hidevaliditemMsg" class="text-secondary">{{validitemMsg}}</span>
    <span [hidden]="hidedeleteitemsuccessMsg" class="text-secondary">{{deleteitemsuccessMsg}}</span>
  </div>

</div>
